<p id="notice"><%= notice %></p>

<p>
  <strong>タスク名:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>カテゴリ:</strong>
  <%= @task.category %>
</p>

<p>
  <strong>期限:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @task.memo %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
